<!--mat-toolbar class="map-elevation-z3">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>СМА</span>
    <span class="example-spacer"></span>
</mat-toolbar-->
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="'250px'"> 
        <app-custom-sidenav>            
        </app-custom-sidenav>    
    </mat-sidenav>

    <mat-sidenav-content class="content">
        
        <div>

            <div id="map" style="height: 100vh;width: 100%;"></div>


            <div>
                <button (click)="tempTextButton()">Тестировать</button>
                <button (click)="tempTextButton_2()">Тестить</button>
            </div>

            <!--br>
            <div>
                <button (click)="addNewGeozone()">Добавить новую геозону</button>
            </div>
            <div>
                <button (click)="draw_geozone()">Геозона в Москве</button>
            </div--> 
        
            <!--br>
            <br>
            <div  *ngIf="mapObjectType=='overlay.Placemark'" >
                <p>Маркеры:</p>
                <input type="text" [(ngModel)]="mapObjectName" (input)="ngOnChanges()" placeholder="Введите имя объекта" /><br>
                <input type="color" [(ngModel)]="colorCode" (input)="ngOnChanges()" placeholder="#FF0000" />
            </div-->
        
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

