<!--mat-toolbar class="map-elevation-z3">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>СМА</span>
    <span class="example-spacer"></span>
</mat-toolbar-->
<mat-sidenav-container>

    <mat-sidenav opened mode="side" [style.width]="'250px'"> 
        <!--app-custom-sidenav 
        [geozoneCoords]="geozoneCoords"
        [geozoneFillColor]="geozoneFillColor"
        [geozoneStrokeColor]="geozoneStrokeColor"
        [geozoneOpacity]="geozoneOpacity"
        [chosenMapObject]="chosenMapObject"
        >            
        </app-custom-sidenav-->    

<!-- START of old component-->>        
<div class="sidenav-header" >
    <div class="header-text">
        <span>
            <h2>Настройки {{geozoneFillColor}}</h2>
            <!--button mat-fab extended class="add-menu-button" (click)="this.drawSavedGeozone(2)">
                <mat-icon >test</mat-icon> 
                <span>DRAW!</span>
            </button> 
            <button mat-fab extended class="add-menu-button" (click)="this.openRedactor(3)">
                <mat-icon >test</mat-icon> 
                <span>ТЕСТ!</span>
            </button--> 
            @if (this.redactorOpen_flag()) {
                <button mat-fab extended class="add-menu-button" (click)="this.closeRedactor()">
                    <mat-icon>arrow_back</mat-icon> 
                    <span>Назад</span>
                </button>
            }

        </span>
    </div>
</div>

<mat-nav-list class="menu_list">

    @for (item of menuItems(); track item.lable+item.icon+$index+item.show; let  j = $index) {

        <!-- Скрываем спец вкладки -->
        @if (item.show) {
            <!-- Основные вкладки -->
            <a mat-list-item class="menu-items" (click)="updateNested(j)">
            
                    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                    <span matListItemTitle>{{ item.lable }}</span>

                    <!-- Ставим значком открытой вкладки только для вкладок, у которых есть дочерние элементы-->         
                    @if (item.subItems) {
                        
                        <span matListItemMeta>

                            <!-- Управляем значком открытой вкладки -->
                            @if (item.open) {
                                <mat-icon>expand_less</mat-icon>
                            } @else {
                                <mat-icon>expand_more</mat-icon>
                            }
                            
                        </span>
                    } 
            
            </a>

            @if (item.lable=='Геозоны'&& item.open) {
                <div class="button-area" @expandContractMenu>
                    <button mat-fab extended class="add-menu-button" (click)="this.menuAddNewGeozone(j)">
                            <mat-icon >add_circle_outline</mat-icon> 
                            <span>Добавить геозону</span>
                    </button>
                </div>                
            }

            @if (item.lable=='Редактор геозон') {

                <div class="button-area" @expandContractMenu>

                    <span>
                        <!--button (click)="this.changeFrameChanges()"><mat-icon>{{this.icon_changeFrame}}</mat-icon></button>
                        <button (click)="this.changeDrawStatus()"><mat-icon>{{this.icon_draw}}</mat-icon></button-->
                        <button (click)="this.changeEditStatus()"><mat-icon>{{this.icon_edit}}</mat-icon></button>
                        <button (click)="this.deleteGozoneFromMenu()"><mat-icon>{{this.icon_delete}}</mat-icon></button>
                    </span>

                    <mat-form-field class="example-full-width">
                        <mat-label>Наименование геозоны</mat-label>
                        <input matInput [(ngModel)]="this.mapObjectName" (input)="this.ngOnChanges()" placeholder="">
                    </mat-form-field>                    

                        <span>
                            <a class="mdc-list-item__primary-text">Цвет заливки: </a>
                            <input id="ColorPicker" type="color" [(ngModel)]="this.geozoneFillColor" (input)="this.ngOnChanges()" placeholder="#FF0000" />
                        </span>
                        <span>
                            <a class="mdc-list-item__primary-text">Цвет контура: </a>
                            <input type="color" [(ngModel)]="this.geozoneStrokeColor" (input)="this.ngOnChanges()" placeholder="Цвет контура" />
                        </span>
                        <br>
                        <a class="mdc-list-item__primary-text">Прозрачность: </a>
                        <mat-slider min="0" max="1" step="0.1" discrete >
                            <input matSliderThumb value="0.3" [(ngModel)]="this.geozoneOpacity" (input)="this.ngOnChanges()" placeholder="Прозрачность" />
                        </mat-slider>    

                      
                        <div class="button-area" @expandContractMenu>
                            @if (this.chosenMapObject['ID_in_DB']) {                      
                                <button mat-fab extended class="add-menu-button" (click)="this.patchMapObjectByID(
                                    chosenMapObject,
                                    mapObjectName,
                                    geozoneCoords,
                                    geozoneFillColor,
                                    geozoneStrokeColor,
                                    geozoneOpacity
                                  )">
                                    <mat-icon >save</mat-icon> 
                                    <span>Обновить</span>
                                </button>} 
                            @else {
                                <button mat-fab extended class="add-menu-button" (click)="this.postTrack()">
                                    <mat-icon >save</mat-icon> 
                                    <span>Сохранить</span>
                                </button> 
                                }
                                 
                            {{this.post_message}}
                        </div>  
                </div>
            }
        }
    <!-- Подпункты вкладок -->
        @if (item.subItems && item.open){
            <!-- @expandContractMenu - Изчезающий эффект -->
            <div class="menu-subItems" @expandContractMenu >

                @if (item.lable=='Маршруты'){
                    @for (subItem of item.subItems; track subItem.id+subItem.name+$index; let  i = $index) {
                        <a mat-list-item class="menu-items-subitems indented">      
                            <div class="checkbox-list">
                                <div class="checkbox-item">
                                    <mat-checkbox matListItemIcon  [checked]="subItem.attached" (change)="update($event.checked, j, i, item.lable)"></mat-checkbox>
                                    <label for="i">{{ subItem.name }}</label>
                                    <!--span class="edit-icon" (click)="openGeozoneInRadactor(true, j, i, item.lable, subItem.id)">✎</span-->
                                </div>
                            </div>

                            <!--mat-checkbox matListItemIcon  [checked]="subItem.attached" (change)="update($event.checked, j, i, item.lable)"></mat-checkbox>
                            <span matListItemTitle>{{ subItem.name }} </span-->
                        </a>
                    }
                } 
                
                @else if (item.lable=='Геозоны'){
                    @for (subItem of item.subItems; track subItem.id+subItem.name+$index; let  i = $index) {

                        <a mat-list-item class="menu-items-subitems indented"> 
                            <div class="checkbox-list">
                                <div class="checkbox-item">
                                    <mat-checkbox matListItemIcon  [checked]="subItem.attached" (change)="update($event.checked, j, i, item.lable)"></mat-checkbox>
                                    <label for="i">{{ subItem.name }}</label>
                                    <!--span class="edit-icon" (click)="openGeozoneInRadactor(true, j, i, item.lable, subItem.id)">✎</span-->
                                </div>
                            </div>
                        </a>
                    }
                } 

            </div>
        }
    }

</mat-nav-list>
<!-- END of old component-->>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        
        <div>

            <div id="map" style="height: 100vh;width: 100%;"></div>

            <div>
                <button (click)="tempTextButton()">Тестировать</button>
                <button (click)="tempTextButton_2()">Тестить</button>
            </div>

            <!--br>
            <div>
                <button (click)="addNewGeozone()">Добавить новую геозону</button>
            </div>
            <div>
                <button (click)="draw_geozone()">Геозона в Москве</button>
            </div--> 
        
            <!--br>
            <br>
            <div  *ngIf="mapObjectType=='overlay.Placemark'" >
                <p>Маркеры:</p>
                <input type="text" [(ngModel)]="mapObjectName" (input)="ngOnChanges()" placeholder="Введите имя объекта" /><br>
                <input type="color" [(ngModel)]="colorCode" (input)="ngOnChanges()" placeholder="#FF0000" />
            </div-->
        
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

